<h1>Thrive Milpitas</h1>
 <div id="app"></div>
 <script>
	   window.reviewWidget = { appId: "5acd9f52734d1d55c319cada", backColor: "#35d16ea3" };
</script>
<script src="https://d1ltkeyggge0br.cloudfront.net/rtv1.js"></script>
