<h1>Thrive Milpitas</h1>
 <div id="app"></div>
 <script>
	window.reviewWidget = {
		appId: "5a601ac5734d1d1e1301e6bb"
	};
</script>
<script src="https://dl.dropboxusercontent.com/s/nrjagtmhrukj368/app.js"></script>
